#imghombre{
height: 100px;
left: 100px;
}
#iddatos{
    padding-left: 10%;
    padding-top: 3%;
}
#idrelleno{
    padding-left: 10%;
    padding-top: 3%;
}#idprocesos{
    padding-left: 10%;
    padding-top: 3%;
}